In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

### The idea is to select the first 5 Stocks from the S&P500 that performed better the last 1 year using momentum strategy

In [56]:
#import pandas_datareader as pdr

# Define the start and end dates for the data
start_date = '2010-01-01'
end_date = '2022-12-31'

# Use the DataReader function from pandas_datareader to download the data
#sp500_data = pdr.get_data_yahoo('^GSPC', start=start_date, end=end_date)

# Extract just the 'Close' column from the data
#sp500_close = sp500_data['Close']

In [57]:
Apple = yf.download('AAPL', start=start_date, end=end_date)
Apple = Apple[['Close']].copy()
Apple.dropna(inplace=True)
Apple

[*********************100%***********************]  1 of 1 completed

                 Close
Date
2010-01-04    7.643214
2010-01-05    7.656429
2010-01-06    7.534643
2010-01-07    7.520714
2010-01-08    7.570714
...                ...
2022-12-23  131.860001
2022-12-27  130.029999
2022-12-28  126.040001
2022-12-29  129.610001
2022-12-30  129.929993

[3272 rows x 1 columns]

In [58]:
Apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3272 entries, 2010-01-04 to 2022-12-30
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   3272 non-null   float64
dtypes: float64(1)
memory usage: 51.1 KB

In [59]:
# Retrieve all individual stocks from S&P500
import requests
import pandas as pd

# Define the URL to retrieve the list of stocks from Wikipedia
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

# Use requests to retrieve the HTML data from the URL
html_data = requests.get(url).text

# Use pandas to read the HTML data and extract the table of stock data
sp500_table = pd.read_html(html_data, header=0)[0]

# Extract the 'Symbol' column from the table
sp500_symbols = sp500_table['Symbol'].tolist()
sp500_symbols

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ATVI',
 'ADM',
 'ADBE',
 'ADP',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BG',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISH',
 'DIS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'RE',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FSLR',
 'FE',
 'FIS',
 'FI',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OGN',
 'OTIS',
 'PCAR',
 'PKG',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WAB',
 'WBA',
 'WMT',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [60]:
stocks = yf.download(sp500_symbols, start=start_date, end=end_date)
stocks

[*********************100%***********************]  503 of 503 completed

ERROR
4 Failed downloads:
ERROR ['BF.B']: Exception('BF.B: No price data found, symbol may be delisted (1d 2010-01-01 -> 2022-12-31)')
ERROR ['COO']: Exception('COO: No price data found, symbol may be delisted (1d 2010-01-01 -> 2022-12-31)')
ERROR ['CHTR']: Exception('CHTR: No price data found, symbol may be delisted (1d 2010-01-01 -> 2022-12-31)')
ERROR ['BRK.B']: Exception('BRK.B: No timezone found, symbol may be delisted')

             Adj Close                                                 \
                     A        AAL         AAP        AAPL        ABBV
Date
2010-01-04   20.268335   4.496877   36.703869    6.496294         NaN
2010-01-05   20.048168   5.005957   36.485706    6.507525         NaN
2010-01-06   19.976948   4.798554   36.803852    6.404015         NaN
2010-01-07   19.951038   4.939965   36.794743    6.392176         NaN
2010-01-08   19.944565   4.845691   36.940174    6.434675         NaN
...                ...        ...         ...         ...         ...
2022-12-23  148.765427  12.710000  141.508774  131.477127  160.091415
2022-12-27  149.084427  12.530000  143.227280  129.652435  159.983459
2022-12-28  147.628967  12.320000  143.503815  125.674019  159.237457
2022-12-29  150.619629  12.700000  144.501328  129.233658  159.561386
2022-12-30  149.406601  12.720000  145.212418  129.552719  158.628906

                                                                       ...  \
                   ABC         ABT       ACGL         ACN        ADBE  ...
Date                                                                   ...
2010-01-04   21.769253   19.336407   7.994444   32.708164   37.090000  ...
2010-01-05   21.613935   19.180174   7.967778   32.910301   37.700001  ...
2010-01-06   21.409567   19.286688   7.933333   33.260151   37.619999  ...
2010-01-07   21.066235   19.446463   7.886667   33.229061   36.889999  ...
2010-01-08   21.295113   19.545885   7.871111   33.096886   36.689999  ...
...                ...         ...        ...         ...         ...  ...
2022-12-23  169.002655  107.156876  63.380001  263.969421  338.450012  ...
2022-12-27  167.998657  107.543190  63.619999  263.195648  335.089996  ...
2022-12-28  166.368362  106.810188  62.599998  261.023102  328.329987  ...
2022-12-29  165.066132  109.266731  63.110001  266.241180  337.579987  ...
2022-12-30  164.728149  108.751656  62.779999  264.713440  336.529999  ...

             Volume                                                          \
               WYNN      XEL       XOM     XRAY       XYL      YUM      ZBH
Date
2010-01-04  4741400  2670400  27809100  1051400       NaN  2962274   805872
2010-01-05  5644300  4321400  30174700   763400       NaN  3298757  1769643
2010-01-06  2738800  2164500  35044700  1595100       NaN  4178981  1315619
2010-01-07  2388500  3041700  27192100  1096100       NaN  2452472  1734005
2010-01-08  1539800  1599100  24891800   803600       NaN  3772392  2213985
...             ...      ...       ...      ...       ...      ...      ...
2022-12-23  1134800  1201300  11539400  1266800  321100.0   700800   789800
2022-12-27  4026500  1580600  11962100   998800  468200.0  1300200   755600
2022-12-28  2131500  1513700  10702100  1430500  480400.0   964800   750100
2022-12-29  1431100  1398000  10534000  1139500  516300.0   875700   686600
2022-12-30  1614700  1597000  11799600  1353000  548900.0  1401300   785200


              ZBRA      ZION        ZTS
Date
2010-01-04  168800   3974600        NaN
2010-01-05  168800   5605500        NaN
2010-01-06  385300  12615200        NaN
2010-01-07  183600  24716800        NaN
2010-01-08  266500   6903000        NaN
...            ...       ...        ...
2022-12-23  180900   1263300  1017900.0
2022-12-27  252500    704200   957900.0
2022-12-28  241200    680300  1443900.0
2022-12-29  274900    685300  1298900.0
2022-12-30  228200    609700  1249500.0

[3272 rows x 3018 columns]

In [121]:
stocks.index = pd.to_datetime(stocks.index)

In [122]:
close = stocks[['Close']].copy()
close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3272 entries, 2010-01-04 to 2022-12-30
Columns: 503 entries, ('Close', 'A') to ('Close', 'ZTS')
dtypes: float64(503)
memory usage: 12.6 MB

In [193]:
close = stocks.loc[:,'Close'].copy()
close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3272 entries, 2010-01-04 to 2022-12-30
Columns: 503 entries, A to ZTS
dtypes: float64(503)
memory usage: 12.6 MB

In [125]:
statistics = close.describe()
statistics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, count to max
Columns: 503 entries, A to ZTS
dtypes: float64(503)
memory usage: 31.5+ KB

In [126]:
statistics

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
count,3272.000000,3272.000000,3272.000000,3272.000000,2518.000000,3272.000000,3272.000000,3272.000000,3272.000000,3272.000000,...,3272.000000,3272.000000,3272.000000,3272.000000,2823.000000,3272.000000,3272.000000,3272.000000,3272.000000,2497.000000
mean,62.342185,26.080627,129.103435,51.321186,82.491410,80.468004,58.872081,25.666790,139.988432,186.068298,...,118.286950,43.457466,78.268032,47.493860,60.073847,71.608120,100.884825,150.979199,35.978301,92.678438
std,38.738377,14.857500,48.635337,47.357062,30.659988,32.880429,32.388447,11.786969,87.314753,173.459523,...,38.062737,16.768842,15.279077,10.466685,29.221935,29.408841,30.136612,145.294128,13.863955,56.896665
min,19.291845,4.000000,39.160000,6.858929,33.709999,25.770000,21.667768,7.725556,36.439999,22.690001,...,43.020000,20.040001,31.450001,26.830000,23.000000,23.522646,45.601940,24.370001,13.330000,28.400000
25%,32.920244,12.587500,81.897501,18.967589,59.622499,52.327500,34.307501,17.179167,73.257502,42.910000,...,90.470003,28.200001,70.277498,38.090000,35.195000,49.795112,73.072813,44.867499,24.440001,45.299999
50%,44.870001,22.300000,140.904999,29.815000,74.389999,84.420002,44.845001,24.605000,114.619999,97.755001,...,114.060001,40.695000,81.790001,47.215000,52.919998,63.267433,108.024563,85.134998,30.245000,73.860001
75%,76.879999,39.672499,161.452499,56.777499,98.832497,97.762501,83.642500,32.617501,186.532505,287.970001,...,138.337505,60.882501,87.949997,56.840000,79.620003,95.395000,120.458740,207.949997,48.220001,142.550003
max,179.279999,58.470001,241.910004,182.009995,174.960007,173.990005,141.460007,63.619999,415.420013,688.369995,...,247.949997,77.410004,114.180000,69.120003,138.029999,138.860001,173.407761,614.549988,74.309998,247.029999

In [132]:
Apple.mean()

Close    51.321186
dtype: float64

In [133]:
statistics.iloc[1,3]

51.321185589711064

In [164]:
apple_close = close.AAPL.copy().to_frame()
apple_close

                  AAPL
Date
2010-01-04    7.643214
2010-01-05    7.656429
2010-01-06    7.534643
2010-01-07    7.520714
2010-01-08    7.570714
...                ...
2022-12-23  131.860001
2022-12-27  130.029999
2022-12-28  126.040001
2022-12-29  129.610001
2022-12-30  129.929993

[3272 rows x 1 columns]

In [165]:
apple_close['Open'] = apple_close.shift(periods=1)
apple_close.rename(columns={'AAPL':'Close'}, inplace=True)
apple_close["Diff"] = apple_close.Close.sub(apple_close.Open)
apple_close["% Daily Change"] = apple_close.Close.pct_change().mul(100)

apple_close.dropna(inplace=True)
apple_close

                 Close        Open      Diff  % Daily Change
Date
2010-01-05    7.656429    7.643214  0.013215        0.172893
2010-01-06    7.534643    7.656429 -0.121786       -1.590632
2010-01-07    7.520714    7.534643 -0.013929       -0.184871
2010-01-08    7.570714    7.520714  0.050000        0.664833
2010-01-11    7.503929    7.570714 -0.066785       -0.882147
...                ...         ...       ...             ...
2022-12-23  131.860001  132.229996 -0.369995       -0.279812
2022-12-27  130.029999  131.860001 -1.830002       -1.387837
2022-12-28  126.040001  130.029999 -3.989998       -3.068521
2022-12-29  129.610001  126.040001  3.570000        2.832434
2022-12-30  129.929993  129.610001  0.319992        0.246888

[3271 rows x 4 columns]

In [181]:
# Apple stock, monthly returns
monthly_returns = apple_close.Close.resample('BM').last().pct_change().mul(100)
monthly_returns.dropna(inplace=True)
monthly_returns

Date
2010-02-26     6.539620
2010-03-31    14.847028
2010-04-30    11.102138
2010-05-31    -1.612472
2010-06-30    -2.082685
                ...
2022-08-31    -3.255180
2022-09-30   -12.097700
2022-10-31    10.955137
2022-11-30    -3.462891
2022-12-30   -12.227255
Freq: BM, Name: Close, Length: 155, dtype: float64

In [182]:
# Apple stock, yearly returns
yearly_returns = apple_close.Close.resample('Y').last().pct_change().mul(100)
yearly_returns.dropna(inplace=True)
yearly_returns

Date
2011-12-31    25.558032
2012-12-31    31.399996
2013-12-31     5.421201
2014-12-31    37.724143
2015-12-31    -4.638517
2016-12-31    10.032298
2017-12-31    46.114657
2018-12-31    -6.789571
2019-12-31    86.160761
2020-12-31    80.745793
2021-12-31    33.823200
2022-12-31   -26.828863
Freq: A-DEC, Name: Close, dtype: float64

In [183]:
yearly_returns.info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 12 entries, 2011-12-31 to 2022-12-31
Freq: A-DEC
Series name: Close
Non-Null Count  Dtype
--------------  -----
12 non-null     float64
dtypes: float64(1)
memory usage: 192.0 bytes

#### Select only the first 5 highest-momentum stocks in the S&P 500. We will calculate the 1-year price return as the percentage change in the 'Close' column. Then we will sort the DataFrame by that new column.

In [191]:
close.columns

Index(['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABT', 'ACGL', 'ACN', 'ADBE',
       ...
       'WYNN', 'XEL', 'XOM', 'XRAY', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION',
       'ZTS'],
      dtype='object', length=503)

In [200]:
yearly_returns = close.resample('Y').last().pct_change().mul(100)
yearly_returns

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2010-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31,-15.689110,-49.350649,5.260764,25.558032,NaN,8.997655,17.365893,26.848387,9.775207,-8.154646,...,6.404085,17.367305,15.919036,2.399776,NaN,20.305811,-0.484350,-5.817328,-32.810561,NaN
2012-12-31,17.205837,166.272180,3.906364,31.399996,NaN,16.106485,16.485862,18.237980,24.929552,33.286168,...,1.810119,-3.364690,2.111846,13.203769,5.488516,12.523302,24.784719,9.865854,31.449624,NaN
2013-12-31,39.692227,87.037037,52.978580,5.421201,NaN,62.830007,21.965580,35.597463,23.639100,58.917199,...,72.646467,4.605022,16.926624,22.393332,27.675269,13.870481,39.798988,37.573136,39.999998,NaN
2014-12-31,0.077145,112.396044,43.910371,37.724143,23.915926,28.232125,17.453687,-0.988440,8.623201,21.409478,...,-23.402508,28.561194,-8.646245,9.880365,10.028906,-3.650311,21.708338,43.139795,-4.839783,31.630470
2015-12-31,2.125068,-21.033008,-5.506030,-4.638517,-9.474328,15.028832,-0.244337,18.020300,17.008177,29.215965,...,-53.488838,-0.027835,-15.684154,14.229394,-4.123981,0.274533,-9.548581,-10.024547,-4.244128,11.364163
2016-12-31,8.969146,10.247935,12.364628,10.032298,5.705600,-24.607074,-14.473391,23.713257,12.086122,9.591222,...,25.032518,13.338905,15.792182,-5.127361,35.671234,20.591423,0.594599,23.129936,57.655685,11.707013
2017-12-31,46.992975,11.437139,-41.053687,46.114657,54.439477,17.431893,48.581098,5.191797,30.700931,70.218563,...,94.879196,18.206387,-7.334370,14.030837,37.722125,28.864674,16.928296,21.035448,18.099444,34.578746
2018-12-31,0.731668,-38.285602,57.949647,-6.789571,-4.673764,-18.971900,26.739096,-11.688885,-7.890785,29.102944,...,-41.331036,2.411141,-18.472019,-43.475622,-2.170082,12.633253,-14.046576,53.400762,-19.850482,18.739589
2019-12-31,26.460123,-10.682031,1.714719,86.160761,-3.959216,14.274187,20.088481,60.516469,49.329846,45.778814,...,40.400354,28.861378,2.331715,52.082778,18.090527,9.584427,44.311610,60.422037,27.442307,54.722942
2020-12-31,38.893449,-45.013946,-1.654601,80.745793,21.018749,14.984717,26.053416,-15.901142,24.049001,51.638822,...,-18.751346,5.008657,-40.928630,-7.474818,29.191521,7.773249,2.946287,50.458027,-16.332819,25.047218
2021-12-31,34.737106,13.887118,52.295101,33.823200,26.364902,35.934939,28.541427,23.232606,58.703725,13.384788,...,-24.629975,1.544921,48.447348,6.550803,17.811177,27.910836,-17.554677,54.866920,45.395953,47.450150
2022-12-31,-6.263702,-29.175941,-38.706855,-26.828863,19.357465,24.697124,-21.990908,41.237340,-35.631407,-40.653546,...,-3.022107,3.559828,80.258221,-42.928841,-7.796863,-7.763214,3.372954,-56.920363,-22.165928,-39.945907

In [202]:
yearly_returns.loc[:,'AAPL'][-1]

-26.828863368492904

In [221]:
close.iloc[-1].to_list()

[149.64999389648438,
 12.720000267028809,
 147.02999877929688,
 129.92999267578125,
 161.61000061035156,
 165.7100067138672,
 109.79000091552734,
 62.779998779296875,
 266.8399963378906,
 336.5299987792969,
 164.02999877929688,
 92.8499984741211,
 238.86000061035156,
 186.8699951171875,
 88.91999816894531,
 94.94999694824219,
 28.760000228881836,
 71.94000244140625,
 63.2400016784668,
 125.05999755859375,
 188.5399932861328,
 84.30000305175781,
 216.86000061035156,
 210.89999389648438,
 42.939998626708984,
 135.60000610351562,
 105.26000213623047,
 97.37999725341797,
 11.90999984741211,
 64.7699966430664,
 139.72000122070312,
 262.6400146484375,
 311.3699951171875,
 211.86000061035156,
 84.0,
 121.3499984741211,
 241.58999633789062,
 300.1400146484375,
 57.2400016784668,
 46.68000030517578,
 308.260009765625,
 76.13999938964844,
 93.12999725341797,
 145.6699981689453,
 112.06999969482422,
 76.55000305175781,
 161.52000427246094,
 559.1300048828125,
 181.0,
 152.4199981689453,
 165.92999267578125,
 147.75,
 2466.179931640625,
 190.49000549316406,
 33.119998931884766,
 51.13999938964844,
 50.970001220703125,
 42.13999938964844,
 80.20999908447266,
 254.3000030517578,
 26.3799991607666,
 nan,
 99.7699966430664,
 276.9200134277344,
 420.489990234375,
 45.52000045776367,
 2015.280029296875,
 29.530000686645508,
 708.6300048828125,
 71.94999694824219,
 134.1300048828125,
 nan,
 56.970001220703125,
 46.27000045776367,
 40.25,
 67.58000183105469,
 45.22999954223633,
 38.70000076293945,
 76.87000274658203,
 41.25,
 239.55999755859375,
 220.60000610351562,
 125.47000122070312,
 76.95999908447266,
 135.63999938964844,
 8.0600004196167,
 64.1500015258789,
 160.63999938964844,
 178.5800018310547,
 102.23999786376953,
 86.20999908447266,
 85.19999694824219,
 39.369998931884766,
 80.61000061035156,
 91.55999755859375,
 nan,
 331.3399963378906,
 102.38999938964844,
 78.79000091552734,
 140.3300018310547,
 66.8499984741211,
 34.970001220703125,
 168.16000366210938,
 1387.489990234375,
 242.2899932861328,
 63.33000183105469,
 82.01000213623047,
 29.989999771118164,
 92.95999908447266,
 nan,
 118.0,
 456.5,
 56.75,
 60.88999938964844,
 111.87999725341797,
 217.89999389648438,
 132.58999633789062,
 47.63999938964844,
 77.27999877929688,
 30.979999542236328,
 451.6199951171875,
 45.0099983215332,
 24.56999969482422,
 57.189998626708984,
 58.779998779296875,
 93.19000244140625,
 179.49000549316406,
 41.599998474121094,
 61.31999969482422,
 32.86000061035156,
 68.62999725341797,
 428.760009765625,
 97.83000183105469,
 246.25,
 156.44000244140625,
 89.13999938964844,
 265.4200134277344,
 86.87999725341797,
 14.039999961853027,
 100.2699966430664,
 141.44000244140625,
 135.41000366210938,
 50.38999938964844,
 346.3999938964844,
 138.3300018310547,
 117.52999877929688,
 102.98999786376953,
 74.66999816894531,
 61.5099983215332,
 26.5,
 113.23999786376953,
 122.18000030517578,
 41.470001220703125,
 145.55999755859375,
 95.30999755859375,
 194.36000061035156,
 63.619998931884766,
 248.11000061035156,
 512.969970703125,
 81.44000244140625,
 96.05999755859375,
 264.9599914550781,
 129.52000427246094,
 327.739990234375,
 655.030029296875,
 59.0,
 33.83000183105469,
 83.83999633789062,
 211.9199981689453,
 156.9499969482422,
 112.5,
 119.77999877929688,
 62.93000030517578,
 74.61000061035156,
 43.22999954223633,
 103.91999816894531,
 87.5999984741211,
 147.17999267578125,
 11.630000114440918,
 136.77999877929688,
 47.31999969482422,
 38.0,
 401.2099914550781,
 173.1999969482422,
 41.939998626708984,
 143.50999450683594,
 101.06999969482422,
 598.5800170898438,
 67.8499984741211,
 32.810001373291016,
 183.67999267578125,
 124.80000305175781,
 28.450000762939453,
 30.3700008392334,
 101.04000091552734,
 149.7899932861328,
 48.88999938964844,
 64.25,
 248.11000061035156,
 65.40983581542969,
 58.380001068115234,
 21.43000030517578,
 85.8499984741211,
 83.8499984741211,
 120.55000305175781,
 31.940000534057617,
 33.63999938964844,
 100.66000366210938,
 88.7300033569336,
 88.2300033569336,
 173.50999450683594,
 99.31999969482422,
 92.29000091552734,
 343.3800048828125,
 556.25,
 39.349998474121094,
 61.0099983215332,
 14.100000381469727,
 239.9600067138672,
 315.8599853515625,
 141.82000732421875,
 75.83000183105469,
 230.67999267578125,
 126.36000061035156,
 74.80999755859375,
 214.3000030517578,
 15.960000038146973,
 26.8700008392334,
 45.54999923706055,
 79.87000274658203,
 16.049999237060547,
 231.57000732421875,
 512.1900024414062,
 39.40999984741211,
 140.88999938964844,
 102.58999633789062,
 407.9599914550781,
 228.3300018310547,
 104.83999633789062,
 202.1999969482422,
 80.31999969482422,
 26.43000030517578,
 389.2200012207031,
 29.639999389648438,
 34.630001068115234,
 33.310001373291016,
 204.88999938964844,
 52.25,
 49.849998474121094,
 265.3500061035156,
 336.1400146484375,
 220.3000030517578,
 17.989999771118164,
 120.06999969482422,
 174.36000061035156,
 64.0,
 175.55999755859375,
 176.64999389648438,
 31.959999084472656,
 134.10000610351562,
 71.23999786376953,
 35.65999984741211,
 17.420000076293945,
 171.07000732421875,
 40.709999084472656,
 21.18000030517578,
 377.0299987792969,
 135.75,
 18.079999923706055,
 60.88999938964844,
 63.61000061035156,
 44.58000183105469,
 58.33000183105469,
 105.19000244140625,
 90.5,
 235.47999572753906,
 208.2100067138672,
 326.17999267578125,
 53.40999984741211,
 365.8399963378906,
 486.489990234375,
 30.719999313354492,
 55.209999084472656,
 199.24000549316406,
 420.29998779296875,
 33.66999816894531,
 48.06999969482422,
 89.36000061035156,
 83.02999877929688,
 69.73999786376953,
 347.7300109863281,
 156.99000549316406,
 148.88999938964844,
 46.66999816894531,
 263.5299987792969,
 70.25,
 375.1199951171875,
 278.6199951171875,
 66.6500015258789,
 77.72000122070312,
 72.37000274658203,
 120.33999633789062,
 33.529998779296875,
 102.22000122070312,
 82.88999938964844,
 278.8900146484375,
 337.9700012207031,
 165.47999572753906,
 119.91999816894531,
 50.76499938964844,
 45.709999084472656,
 330.2200012207031,
 43.869998931884766,
 116.38999938964844,
 353.6099853515625,
 110.94999694824219,
 179.6199951171875,
 27.06999969482422,
 85.0199966430664,
 465.1700134277344,
 239.82000732421875,
 257.7099914550781,
 145.05999755859375,
 41.4900016784668,
 1445.449951171875,
 49.97999954223633,
 12.239999771118164,
 61.349998474121094,
 237.72000122070312,
 83.5999984741211,
 47.20000076293945,
 294.8800048828125,
 27.420000076293945,
 117.01000213623047,
 545.6099853515625,
 388.2699890136719,
 31.81999969482422,
 246.4199981689453,
 60.060001373291016,
 88.48999786376953,
 131.80999755859375,
 146.13999938964844,
 4612.580078125,
 13.079999923706055,
 18.440000534057617,
 18.200000762939453,
 158.02999877929688,
 63.43000030517578,
 283.7799987792969,
 27.93000030517578,
 65.69999694824219,
 81.56999969482422,
 62.369998931884766,
 81.73999786376953,
 844.030029296875,
 78.30999755859375,
 62.9900016784668,
 16.8799991607666,
 310.30999755859375,
 115.55999755859375,
 65.9800033569336,
 16.260000228881836,
 25.06999969482422,
 61.27000045776367,
 180.66000366210938,
 51.2400016784668,
 83.91999816894531,
 151.55999755859375,
 129.7100067138672,
 291.0,
 45.529998779296875,
 127.91000366210938,
 112.7300033569336,
 101.20999908447266,
 157.94000244140625,
 44.97999954223633,
 76.04000091552734,
 294.3900146484375,
 302.3299865722656,
 125.73999786376953,
 29.219999313354492,
 99.45999908447266,
 280.19000244140625,
 104.08000183105469,
 120.04000091552734,
 142.5,
 228.38999938964844,
 71.22000122070312,
 109.94000244140625,
 90.63999938964844,
 49.43000030517578,
 331.2699890136719,
 62.5,
 721.489990234375,
 21.559999465942383,
 73.83000183105469,
 106.8499984741211,
 105.66999816894531,
 208.1300048828125,
 257.57000732421875,
 36.540000915527344,
 432.0899963378906,
 116.06999969482422,
 128.99000549316406,
 100.91999816894531,
 140.22000122070312,
 280.30999755859375,
 99.19999694824219,
 83.26000213623047,
 283.2699890136719,
 49.880001068115234,
 237.3300018310547,
 158.4600067138672,
 53.459999084472656,
 228.49000549316406,
 319.2900085449219,
 71.41000366210938,
 117.4800033569336,
 334.94000244140625,
 154.5399932861328,
 184.69000244140625,
 97.69999694824219,
 77.56999969482422,
 52.61000061035156,
 231.75,
 75.12000274658203,
 91.12999725341797,
 32.86000061035156,
 244.49000549316406,
 76.44999694824219,
 18.40999984741211,
 51.52000045776367,
 629.6500244140625,
 399.9100036621094,
 82.87999725341797,
 114.80000305175781,
 87.3499984741211,
 43.029998779296875,
 249.6300048828125,
 149.0399932861328,
 79.5999984741211,
 550.6900024414062,
 140.0,
 38.08000183105469,
 73.5,
 50.560001373291016,
 109.05999755859375,
 187.49000549316406,
 224.97000122070312,
 123.18000030517578,
 62.25,
 168.08999633789062,
 104.12999725341797,
 165.22000122070312,
 70.80000305175781,
 322.4100036621094,
 37.70000076293945,
 38.72999954223633,
 140.88999938964844,
 469.07000732421875,
 530.1799926757812,
 207.07000732421875,
 173.83999633789062,
 355.4200134277344,
 43.61000061035156,
 207.75999450683594,
 27.610000610351562,
 32.400001525878906,
 126.86000061035156,
 175.11000061035156,
 176.4199981689453,
 205.44000244140625,
 288.7799987792969,
 45.04999923706055,
 11.130000114440918,
 39.400001525878906,
 99.80999755859375,
 342.5799865722656,
 37.36000061035156,
 9.479999542236328,
 31.549999237060547,
 93.76000213623047,
 65.55000305175781,
 41.290000915527344,
 141.4600067138672,
 156.8800048828125,
 32.900001525878906,
 141.7899932861328,
 72.56999969482422,
 35.15999984741211,
 235.35000610351562,
 244.5800018310547,
 31.0,
 82.47000122070312,
 70.11000061035156,
 110.30000305175781,
 31.84000015258789,
 110.56999969482422,
 128.0800018310547,
 127.5,
 256.4100036621094,
 49.15999984741211,
 146.5500030517578]

In [224]:
close

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,22.389128,4.77,40.380001,7.643214,NaN,26.629999,26.129908,7.994444,42.070000,37.090000,...,63.959999,21.080000,69.150002,35.330002,NaN,25.226456,58.271847,28.670000,13.330000,NaN
2010-01-05,22.145924,5.31,40.139999,7.656429,NaN,26.440001,25.918797,7.967778,42.330002,37.700001,...,67.849998,20.830000,69.419998,34.910000,NaN,25.140186,60.116505,28.620001,13.800000,NaN
2010-01-06,22.067240,5.09,40.490002,7.534643,NaN,26.190001,26.062737,7.933333,42.779999,37.619999,...,66.959999,20.870001,70.019997,35.139999,NaN,24.960461,60.097088,28.400000,15.000000,NaN
2010-01-07,22.038628,5.24,40.480000,7.520714,NaN,25.770000,26.278646,7.886667,42.740002,36.889999,...,68.389999,20.780001,69.800003,35.599998,NaN,24.953272,61.475727,27.690001,16.680000,NaN
2010-01-08,22.031473,5.14,40.639999,7.570714,NaN,26.049999,26.412991,7.871111,42.570000,36.689999,...,67.900002,20.790001,69.519997,35.599998,NaN,24.960461,60.184467,27.600000,16.410000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,149.229996,12.71,143.279999,131.860001,163.100006,170.009995,108.180000,63.380001,266.089996,338.450012,...,80.720001,70.930000,108.680000,31.830000,109.730003,128.899994,126.690002,248.220001,48.450001,145.759995
2022-12-27,149.550003,12.53,145.020004,130.029999,162.990005,169.000000,108.570000,63.619999,265.309998,335.089996,...,84.330002,71.570000,110.190002,32.070000,110.720001,129.899994,127.279999,251.000000,48.840000,145.300003
2022-12-28,148.089996,12.32,145.300003,126.040001,162.229996,167.360001,107.830002,62.599998,263.119995,328.329987,...,80.089996,70.570000,108.379997,30.980000,108.940002,129.309998,125.989998,246.839996,47.970001,143.830002
2022-12-29,151.089996,12.70,146.309998,129.610001,162.559998,166.050003,110.309998,63.110001,268.380005,337.579987,...,81.260002,71.070000,109.199997,32.279999,111.639999,129.990005,127.830002,257.529999,49.080002,148.149994
2022-12-30,149.649994,12.72,147.029999,129.929993,161.610001,165.710007,109.790001,62.779999,266.839996,336.529999,...,82.470001,70.110001,110.300003,31.840000,110.570000,128.080002,127.500000,256.410004,49.160000,146.550003

In [225]:
close.loc[:,'AAPL'][-1]

129.92999267578125

In [234]:
tickers = close.columns.to_list()

In [235]:
data = {"Tickers": tickers, "Close Price": close.iloc[-1].to_list(), "One-Year Return": yearly_returns.iloc[-1].to_list(), "Number of Shares To Buy": [100] * len(tickers)}

In [236]:
final_dataframe = pd.DataFrame(data, columns=["Tickers", "Close Price", "One-Year Return", "Number of Shares To Buy"])
final_dataframe

    Tickers  Close Price  One-Year Return  Number of Shares To Buy
0         A   149.649994        -6.263702                      100
1       AAL    12.720000       -29.175941                      100
2       AAP   147.029999       -38.706855                      100
3      AAPL   129.929993       -26.828863                      100
4      ABBV   161.610001        19.357465                      100
..      ...          ...              ...                      ...
498     YUM   128.080002        -7.763214                      100
499     ZBH   127.500000         3.372954                      100
500    ZBRA   256.410004       -56.920363                      100
501    ZION    49.160000       -22.165928                      100
502     ZTS   146.550003       -39.945907                      100

[503 rows x 4 columns]

In [237]:
final_dataframe.sort_values(by="One-Year Return", ascending=False, inplace=True, ignore_index=True)
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace=True,drop=True)
final_dataframe

  Tickers  Close Price  One-Year Return  Number of Shares To Buy
0     OXY    62.990002       117.281829                      100
1     HES   141.820007        91.570998                      100
2     MPC   116.389999        81.887789                      100
3     XOM   110.300003        80.258221                      100
4     SLB    53.459999        78.497488                      100